<br/>
<br/>
<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" placeholder="Search by name">
  </div>
  <button type="button" (click)="findUser()" class="btn btn-primary mb-2">Search</button>
  <button type="button" [routerLink]="['/userAdd']" routerLinkActive="router-link-active" style="margin-left: 10px;" class="btn btn-success mb-2">New</button>
</form>
<br/>
<br/>

<table class="table">
	<thead class="thead-dark">
		<th scope="col">ID</th>
		<th scope="col">Name</th>
		<th scope="col">Cpf</th>
		<th scope="col">Delete</th>
		<th scope="col">Edit</th>
	</thead>

	<tbody>
		<tr *ngFor="let user of users">
		<td>{{user.id}}</td>
		<td>{{user.name}}</td>
		<td>{{user.cpf}}</td>
		<td><button (click)="deleteUser(user.id)" class="btn btn-primary">Delete</button></td>
		<td><button [routerLink]="['/userAdd', user.id]" routerLinkActive="router-link-active"  class="btn btn-warning">Edit</button></td>
		</tr>
	</tbody>

</table>
